<h1>{{post.title}}</h1>
<p>{{post.date_formatted}}</p>
<p>{{{post.content}}}</p>

{{#if comments}}
<ul>
  {{#each comments}}
    <li>
      <h4>{{this.username}}</h4>
      <p>{{this.date_formatted}}</p>
      <p>{{this.content}}</p>
      <a href={{this.url_del}}>Delete</a>
    </li>
  {{/each}}
</ul>
{{/if}}